<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina non trovata</title>
	<link rel="stylesheet" th:href="@{/css/generale.css}" />
    <style>
        body {
            
            text-align: center;
            

        h1 {
            color: #cc0000;
        }

        a {
            color: #0077cc;
            text-decoration: none;
        }
    </style>
</head>
<body>
	<header>
			<nav>
			  <div class="nav-left">TaskManager</div>
			  <div><a th:href="@{/home}"><button class="buttonHome"><img class="home-icon" src="/images/home.png"/></button></a></div>
			  <div class="nav-right">
				<!--<a th:href="@{/logout}">🚪 Logout</a>-->
				<div class="user-menu">
			      <img src="/images/avatar.png" alt="User" class="user-icon" onclick="toggleMenu()" />
			      <div id="dropdown" class="dropdown-menu hidden">
					<a th:href="@{/settings}" class="dropdown-item"><button class="buttonMenu">⚙️ Impostazioni</button></a>
					<div class="dropdown-separator"></div>
					<a th:href="@{/settings}" class="dropdown-item"><button class="buttonMenu">⚙️ Impostazioni</button></a>
			        <a th:href="@{/profile}" class="dropdown-item"><button class="buttonMenu">👤 Profilo</button></a>
					<div class="dropdown-separator"></div>
					<a th:href="@{/logout}" class="dropdown-item"><button class="buttonMenu">🚪 Logout</button></a>
			      </div>
			  </div>
			</nav>
			<script th:src="@{/js/menu.js}"></script>
		</header>
    <h1>404 - Pagina non trovata</h1>
    <p th:text="${message}">La pagina che stai cercando non esiste.</p>
  
</body>
</html>
