<!DOCTYPE html>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	    <title>Pagina non trovata</title>
		<link rel="stylesheet" th:href="@{/css/generale.css}" />
		<link rel="stylesheet" th:href="@{/css/myProjects.css}" />
	
</head>
	<body>
		<header>
				<nav>
				  <div class="nav-left">TaskManager</div>
				  <div><a th:href="@{/home}"><button class="buttonHome"><img class="home-icon" src="/images/home.png"/></button></a></div>
				  <div class="nav-right">
					<!--<a th:href="@{/logout}">🚪 Logout</a>-->
					<div class="user-menu">
				      <img src="/images/avatar.png" alt="User" class="user-icon" onclick="toggleMenu()" />
				      <div id="dropdown" class="dropdown-menu hidden">
						<a th:href="@{/settings}" class="dropdown-item"><button class="buttonMenu">⚙️ Impostazioni</button></a>
						<div class="dropdown-separator"></div>
						<a th:href="@{/settings}" class="dropdown-item"><button class="buttonMenu">⚙️ Impostazioni</button></a>
				        <a th:href="@{/profile}" class="dropdown-item"><button class="buttonMenu">👤 Profilo</button></a>
						<div class="dropdown-separator"></div>
						<a th:href="@{/logout}" class="dropdown-item"><button class="buttonMenu">🚪 Logout</button></a>
				      </div>
				  </div>
				</nav>
				<script th:src="@{/js/menu.js}"></script>
			</header>
		<div class="table-container">
			<h1 th:text="'Lista dei Progetti di , ' + ${username} + '!'"></h1>
			<table>
				<thead>
					<tr>
					<th>Name</th>
					<th>Desctiption</th>
					<th>Delete</th>
					<th>Update</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project:${projectsList}">
					<td><a th:href="'/project/'+${project.id}" th:text="${project.nome}">...</a></td>
					<td th:text="${project.description}">...</td>
					<td>
						<form method="POST" th:action="@{/delete/project/}+${project.id}">
						<button class="deleteButton" type="submit" name="submit" value="value"> 🗑 Delete</button>
						</form>
					</td>
					<td>
						<button>Update</button>
					</td>
					</tr>
				</tbody>
			</table>
			<!-- 🔁 Navigazione pagine -->
			    <div class="pagination">
			        <!--<a th:if="${currentPage > 0}" th:href="@{/my-projects(page=${currentPage - 1})}">❮ Precedente</a>

			        <span th:text="'Pagina ' + (${currentPage} + 1) + ' di ' + ${totalPages}"></span>

			        <a th:if="${currentPage + 1 < totalPages}" th:href="@{/my-projects(page=${currentPage + 1})}">Successiva ❯</a>-->
			    </div>
			
		</div>
	</body>
</html>

