<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
	<link rel="stylesheet" th:href="@{/css/generale.css}">
    <link rel="stylesheet" th:href="@{/css/project.css}">
</head>
<body>
	<header>
			<nav>
			  <div class="nav-left">TaskManager</div>
			  <div><a th:href="@{/home}"><button class="buttonHome"><img class="home-icon" src="/images/home.png"/></button></a></div>
			  <div class="nav-right">
				<!--<a th:href="@{/logout}">🚪 Logout</a>-->
				<div class="user-menu">
			      <img src="/images/avatar.png" alt="User" class="user-icon" onclick="toggleMenu()" />
			      <div id="dropdown" class="dropdown-menu hidden">
					<a th:href="@{/settings}" class="dropdown-item"><button class="buttonMenu">⚙️ Impostazioni</button></a>
					<div class="dropdown-separator"></div>
					<a th:href="@{/settings}" class="dropdown-item"><button class="buttonMenu">⚙️ Impostazioni</button></a>
			        <a th:href="@{/profile}" class="dropdown-item"><button class="buttonMenu">👤 Profilo</button></a>
					<div class="dropdown-separator"></div>
					<a th:href="@{/logout}" class="dropdown-item"><button class="buttonMenu">🚪 Logout</button></a>
			      </div>
			  </div>
			</nav><script th:src="@{/js/menu.js}"></script>
		</header>

	<ul>
		
 		<li><a th:href="@{/newProject}">Nuovo progetto</a></li>
		<li><a th:href="@{/myProjects}">I miei Progetti</a></li>
	</ul>
	<div class="projectContainer">
		<h1 >Queste sono le informazioni del Progetto </h1>
	    <table>
	        <tr>
	            <td>Name:</td>
	            <td th:text="${project.nome}">...</td>
	        </tr>
	        <tr>
	            <td>Description:</td>
	            <td th:text="${project.description}">...</td>
	        </tr>
	        <tr>
	            <td>Owner:</td>
	            <td th:text="${project.owner.nome}">...</td>
	        </tr>
	        </table>
	        <h1 >Tag !!</h1>
	        <p><a th:href="@{/newTag/}+${project.id}">new Tag</a>
	        
	        <h1 >shared !!</h1>
			<td>
			    <ul>
			      <li th:each="utente : ${project.members}" th:text="${utente.nome}"></li>
			    </ul>
			  </td>
	        <h1 >Task !!</h1>
	        <h2>tutto da implementare</h2>
		</div>

</body>
</html>